################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/LaraSoftwareFileTransforme/obj/Debug
/LaraSoftwareFileTransforme/bin/Debug
/FileTransform/obj/Debug
/FileTransform/bin/Debug
/.vs/LaraSoftware.FileTransforme/v14/.suo
